/*.b {
  border: 1px solid black;
}*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #181818;
  flex-wrap: wrap;
}



a {
  color: grey;
  text-decoration: none;
}

a:hover {
  opacity: .6;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#logo {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  color: white;
  padding-right: 10px;
}

#contact {
  display: flex;
  direction: ltr;
}

.contact_main {
  width: 80%;

}

.contact_side {
  width: 20%;
}

.icons {
  width: 30px;
}

.homeimg {
  width: 500px;
}

.portfolioimg {
  width: 100%;
}

.aboutmeimg {
  width: 80%;
}

.link {
  color: white;
  align-self: flex-end;
  font-family: 'Fira Mono', monospace;
  padding: 10px 10px;
}

.m {
  margin: 0;
}
