html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0 10%;
  font-family: sans-serif;
  /*background-color: orange;*/
  background: linear-gradient(to bottom, orange 40%, yellow);
  background-attachment: fixed;
}
